*{
  box-sizing: border-box;
}

#word{
  display: flex;

}
.word{
  margin: 0 5px;
  width: 10px;
  border-bottom: 2px solid black;
  text-align: center;
}

.none{
  display: none;
}

#letters-used{
  /* text-decoration: line-through;
  text-decoration-color: red; */
}
#letters-used span{
  position: relative;
  padding: 5px;
}
#letters-used span::before{
  position: absolute;
  content: "";
  left: 0%;
  top: 55%;
  right: 0;
  border-top: 1px solid;
  border-color: red;
  transform: rotate(-25deg);
    
}